

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(64, 148, 79);
}
.container{
  width: 700px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
h1{
  color: #fff;
}
table{
  color: #fff;
  border-color: #fff;
}
th,td{
  padding: 10px 5px;
}